<div class="modal fade" id="createCardModal" tabindex="-1" aria-labelledby="createCardLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form data-action="create-card-form" id="createCardForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Нова картка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="boardListId" id="createCardListId" />
                <input type="text" class="form-control mb-2" name="title" placeholder="Назва картки" required maxlength="100"/>
                <textarea class="form-control" name="description" placeholder="Опис (необов'язково)" maxlength="500"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <button type="submit" class="btn btn-primary">Створити</button>
            </div>
        </form>
    </div>
</div>