<div class="modal fade" id="createBoardListModal" tabindex="-1" aria-labelledby="createBoardListLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form data-action="create-board-list-form" id="createBoardListForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBoardListLabel">Новий список</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="title" placeholder="Назва списку" required maxlength="50"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <button type="submit" class="btn btn-primary">Створити</button>
            </div>
        </form>
    </div>
</div>