<div class="modal fade" id="createWorkspaceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="createWorkspaceForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Створити робочий простір</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input maxlength="100" name="title" type="text" class="form-control mb-2" placeholder="Назва робочого простору"/>
                <textarea maxlength="1000" name="description" class="form-control" placeholder="Опис (необов'язково)"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <button type="submit" class="btn btn-primary">Створити</button>
            </div>
        </form>
    </div>
</div>

