@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary mt-3 w-100" data-bs-toggle="modal" data-bs-target="#createWorkspaceModal">
                    Create Workspace
                </button>
                <div class="mt-5">
                    <h2>Your Workspaces</h2>
                    <div id="workspaceList" class="mt-3">
                        <!-- Список робочих областей завантажиться через JS -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mt-5">
                    <h2 id="workspaceTitle"></h2>
                    <button class="btn btn-primary mt-3 w-100" data-bs-toggle="modal" data-bs-target="#createBoardModal">
                        Create Board
                    </button>
                    <div id="boardList" class="mt-3">
                        <!-- Список дошок завантажиться через JS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateWorkspaceModal")
@await Html.PartialAsync("_CreateBoardModal")

@section Scripts {
    <script type="module" src="~/js/dashboard.js"></script>
}