@using System.Text.Json
@using AspNetFinalProject.Enums
@using AspNetFinalProject.Services.Interfaces
@inject ICurrentUserService CurrentUserService
@model AspNetFinalProject.DTOs.BoardDto
@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>
<p>@Model.Description</p>

<div class="d-flex flex-row gap-3 mt-4" id="boardListsContainer">
    <!-- Списки будуть завантажуватися через JS -->
</div>

<!-- Кнопка для створення нового списку -->
@{
    if (await CurrentUserService.HasBoardRoleAsync(Guid.Parse(Model.Id), ParticipantRole.Admin, ParticipantRole.Member, ParticipantRole.Owner))
    {
        <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createBoardListModal">
            + Додати список
        </button>
    }
}


@await Html.PartialAsync("_CreateBoardListModal")
@await Html.PartialAsync("_CreateCardModal")
@await Html.PartialAsync("_ConfirmDeleteModal")

<script>
    window.boardId = @Html.Raw(JsonSerializer.Serialize(Model.Id));
</script>
@section Scripts {
    <script type="module" src="~/js/features/boards/dashboard/main.js"></script>
}